* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    /* margin:auto; */
}

body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    /* margin:auto; */
    text-align: center;
}

.hit-mine {
    animation: myAnim 0.3s ease 50ms 1 normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 100%;
	}

	10% {
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(4deg);
	}

	80% {
		transform: rotate(-2deg);
	}

	90% {
		transform: rotate(2deg);
	}
}

td {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    color: black;
}

td:hover {
    background-color: rgb(237, 206, 255);
}

.hidden {
    display: none;
}

button {
    width: 70px;
    height: 50px;
    background-color: rgb(219, 204, 247);
    font-weight: bold;
    border: 1px solid rgb(211, 164, 211);
} 

button:hover {
    background-color: rgb(237, 206, 255);
}

.restart {
    font-size: 50px;
}

h1 {
    margin: auto;   
}

table {
    margin: auto;
}

.lives {
    font-size: 50px;
}

.safe {
    font-size: 50px;
    text-shadow: 2px 2px #000000;
}

.mode {
    font-size: 25px;
}

.mode:hover {
    background-color: rgb(46, 44, 44);
}

.dark-mode {
    background: rgb(46, 44, 44);
    background-color: rgb(46, 44, 44);
    color: rgb(143, 143, 156);
}


